{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "off",
    "no-redeclare": "off",
    "import/export": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-undef": "off"
  }
}
